@import url('https://fonts.googleapis.com/css2?family=Alata&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Overpass:ital,wght@0,100..900;1,100..900&display=swap');
body, html{
    background-color: black;
    justify-content: center;
    align-items: center;
    display: flex;
}
.block{
    height: 410px;
    width: 410px;
    background-color: hsl(213, 19%, 18%);
    margin-top: 50%;
    border-radius: 30px;
}
.kolko{
    height: 55px;
    width: 55px;
    background-color: hsl(212, 14%, 24%); 
    justify-content: center;
    align-items: center;
    display: flex;
    border-radius: 50%;
    margin: 30px;
}
.fs-1{
    font-size: 35px;
    margin-left: 40px;
font-family: "Alata", sans-serif;
color: white;
}
.text-start{
    color: hsl(217, 12%, 63%);
    font-family: "Alata", sans-serif;
    font-size: 15px;
    margin-left: 45px;
    margin-top: -20px;
}
  .one{
    height: 55px;
    width: 55px;
    background-color:hsl(212, 14%, 24%) ;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    display: flex;
color:hsl(217, 12%, 63%); ;
    transition: background-color 0.5s ease; 
    cursor: pointer;
    border: none;
}
.buttons{
     font-family: "Alata", sans-serif;
    margin: 30px;
   gap: 20px;
    flex-direction: row;
    display: flex;

}


.button{
    background-color: hsl(25, 97%, 53%);
    height: 45px;
    width: 360px;
    align-items: center;
    justify-content: center;
    display: flex;
    margin:30px;
    margin-top: -10px;
    border-radius: 30px;
    font-family: "Alata", sans-serif;
    letter-spacing: 5px;
    transition: background-color 0.5s ease; 
    cursor: pointer;
    border: none;
}
.button:hover{
    background-color: hsl(22, 100%, 50%);
    
}
.one:hover{
    background-color:hsl(22, 100%, 50%) ;
    color: black;

}
.one.active {
  background: hsl(22, 100%, 50%);
  color: black;

}